.titolo{
height: 50%;
color: black;
font-size:22px;
text-align:center;
margin-top: 100px;}

.login{
height: 50%;
width: 80%;
color: black;
font-size: 22px;
margin-top: 7%;
margin: auto;
text-decoration: none;
float:center;}

.signup{
color: blue;
font-size:20px;
margin-top: -40px;
margin-left: 88.1%;
text-decoration: none;
float:left;}

.separatore{
/*font-weight: bold; */
color: blue;
font-size:20px;
margin-top: -40px;
text-decoration: none;
float: left; 
margin-left: 89.8%;}

.form_elogin{
 -webkit-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-moz-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-o-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
text-align: center;
font-size: 20px;
width: 250px; 
height: 50px;

margin: auto;
font-family: 'Coolvetica Rg';
}

input, input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 4;}
    
    input.search{
        height: 100px;
        width: 250px;
        padding-left: 300px;
        padding-top: -20px;
    }
    
    * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;}

.table{
margin-top: -15%;
margin-left: 78%;
-webkit-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-moz-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-o-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;}


/* .table{
margin-top: -15%;
margin-right: 73%;
-webkit-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-moz-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-o-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;} */

::-webkit-input-placeholder{
text-align: center;
font-weight: bold;
font-size: 15px;}

.pulsanti table:hover{
  -webkit-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-moz-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-o-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;}

.sfuma{
  -webkit-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-moz-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
-o-box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;
box-shadow: inset 5px 5px 10px 0px #FFFFFF,5px -3px 10px 0px #000000;}

::-webkit-input-placeholder{
    font-weight: bold;}
    
:-moz-placeholder{
    font-weight: bold;}
    
:-ms-input-placeholder{
    font-weight: bold;}
    
    @font-face {
    font-family: 'Coolvetica Rg';
    src: url('CoolveticaRg-Regular.eot');
    src: url('CoolveticaRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('CoolveticaRg-Regular.woff2') format('woff2'),
        url('CoolveticaRg-Regular.woff') format('woff'),
        url('CoolveticaRg-Regular.ttf') format('truetype'),
        url('CoolveticaRg-Regular.svg#CoolveticaRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

    
.coolvetica{
    @import url('https://cdn.titanwar.net/fonts/coolvetica_rg/stylesheet.css);
    

    margin: 0;
    font-family: 'Coolvetica Rg'
}

::placeholder {
  @import url('https://cdn.titanwar.net/fonts/coolvetica_rg/stylesheet.css);

  color: peachpuff;
  font-family: 'Coolvetica Rg';
  font-size: 22px;
}


body{
  font-family: 'Open Sans';
}